@charset "UTF-8";
.cell--table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000000;
}

th,td{
  text-align: center;
  font-size: 18px;
  border: 1px solid #000000;
  padding: 10px;

}

tr{
  background: #d5ffc7;
}

th{
  background: #319c4a;
  line-height: 26px;
}

td{
  line-height: 22px;
}

tbody tr:last-child{
border-top: 1px double rgb(255,255,255);
}

tbody tr:nth-child(2n){
  background: #bcbcbc;
}