@charset "UTF-8";
/* 回答はここから */
ul{
  display: flex;
  justify-content: center;
}

.text{
  list-style: none;
  padding: 10px;
  width: 200px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  background: #d2b48c;
  margin-right: 60px;
}

.text:last-child{
  margin-right: 0px;
}